@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

.glass {
    /* From https://css.glass */
background: rgba(245, 119, 226, 0.25);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
  }
.glass-auth {
    /* From https://css.glass */
background: rgba(17, 5, 68, 0.40);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
  }
.glass-light {
    /* From https://css.glass */
background: rgba(255, 255, 255, 0);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
  }
.search {
    /* From https://css.glass */
background: #0502274d;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
  }

  .clip-polygon {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }

  .discount-polygon {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%);
  }

  .opacity-gradient {
    background: rgb(5,2,39);
    background: linear-gradient(0deg, rgba(5,2,39,1) 16%, rgba(9,7,29,0) 100%);
    background-blend-mode: overlay;
  }

  body {
    background: rgb(11,7,55);
    background: linear-gradient(90deg, rgba(11,7,55,1) 0%, rgba(5,2,39,1) 60%, rgba(9,7,29,1) 100%);
  }

  .button {
    @apply text-white text-[13px] 450:text-[16px] px-[18px] duration-300 transition-all rounded-xl font-medium py-[8px] bg-button hover:bg-secondary
  }

  .container {
    @apply xl:w-[1280px] w-full max-xl:px-[20px] max-md:px-[10px] mx-auto
  }

  .heading {
    @apply text-white text-[18px] 450:text-[24px] font-semibold
  }
  .align-cntr {
    @apply flex items-center justify-center
  }
  .align-lft {
    @apply flex items-center justify-start
  }
  .align-rght {
    @apply flex items-center justify-end
  }
  .align-btwn {
    @apply flex items-center justify-between
  }

  /** Sroll */ 
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #120e47;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b6b6f8;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #eb5f5f;
  }
  

  .rdrCalendarWrapper{
    color: #ffffff;
    font-size: 14px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #09071d;
    width: 100%;
  }
  
  .rdrDateDisplayItem input{
    cursor: pointer;
    height: 2.5em;
    line-height: 2.5em;
    border: 0px;
    background: transparent;
    width: 100%;
    color: #b6b6f8;
  }

  .rdrMonth {
    width: 100%;
  }

  .rdrMonthAndYearPickers select{
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    padding: 10px 30px 10px 10px;
    border-radius: 4px;
    outline: 0;
    color: #b6b6f8;
    background: #09071d !important;
    background-position: right 8px center;
    cursor: pointer;
    text-align: center
  }

  .rdrNextPrevButton:hover{
    background: #b6b6f8;
  }

  .rdrDay {
    background: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 0;
    padding: 0;
    line-height: 3.000em;
    height: 3.000em;
    text-align: center;
    color: #fff !important;
  }

  .ck {
    height: 400px;
  }